solutions/netbeans/07-BookStore-JAXWS-Client-WriterManager/xml-resources/web-service-references/WriterManager/wsdl/localhost_8080/07-BookStore-JAXWS-Server/WriterManager.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://businesslogic.lab07.aipi.cs.pub.ro/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://businesslogic.lab07.aipi.cs.pub.ro/">

<xs:element name="deleteWritersWithoutBooks" type="tns:deleteWritersWithoutBooks"/>

<xs:element name="deleteWritersWithoutBooksResponse" type="tns:deleteWritersWithoutBooksResponse"/>

<xs:element name="getWritersBibliography" type="tns:getWritersBibliography"/>

<xs:element name="getWritersBibliographyResponse" type="tns:getWritersBibliographyResponse"/>

<xs:element name="writerInformation" type="tns:WriterInformation"/>

<xs:complexType name="deleteWritersWithoutBooks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteWritersWithoutBooksResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWritersBibliography">
<xs:sequence>
<xs:element name="numberOfBooksTotal" type="xs:int"/>
<xs:element name="numberOfBooksAlone" type="xs:int"/>
<xs:element name="numberOfBooksCollaboration" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWritersBibliographyResponse">
<xs:sequence>
<xs:element name="return" type="tns:WriterInformation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WriterInformation">
<xs:complexContent>
<xs:extension base="tns:persistentEntity">
<xs:sequence>
<xs:element name="books" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfBooksAlone" type="xs:long" minOccurs="0"/>
<xs:element name="numberOfBooksCollaboration" type="xs:long" minOccurs="0"/>
<xs:element name="numberOfBooksTotal" type="xs:long" minOccurs="0"/>
<xs:element name="writer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="persistentEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>